<div class="main-header">
  <div class="mh-left">
    <div class="mh-title">
      hogefuga
    </div>
  </div>
  <div class="mh-right">
    <div class="mh-btn">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="main-body">
  <div class="mb-message">
    <div class="mb-upper-message">
      <div class="mb-message-user">
        Tom
      </div>
      <div class="mb-message-date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="mb-lower-meesage">
      <div class="mb-message-content">
        おはよう
      </div>
    </div>
  </div>
  <div class="mb-message">
    <div class="mb-upper-message">
      <div class="mb-message-user">
        Sim
      </div>
      <div class="mb-message-date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="mb-lower-meesage">
      <div class="mb-message-content">
        こんばんは
      </div>
    </div>
  </div>
</div>

<div class="main-footer">
  <div class="mf-form">
    <div class="mf-form-input">
      <input class="mf-form-message" placeholder="type message">
      <label class="mf-form-image">
        <span class="mf-image-file">画像</span>
        <input type="file" class="mf-hidden">
      </label>
    </div>
    <input class="mf-form-submit" type="submit" value="送信">
  </div>
</div>