/* all  */
.wrapper{
  height: 100vh;
  display: flex;
}

/* side */
.side-bar{
  width: 300px;
  height: 100vh;
  background-color: #253141;
}
.side-header{
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.side-body {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}
/* sh */
.sh-name a{
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}
.sh-btn a{
  border: 1px solid lightblue;
  padding: 14px;
  color: deepskyblue;
  text-decoration: none;
  font-size: 10px;
}
/* sb */
.sb-room{
  padding: 20px 0 40px;
}
.sb-roomname a{
  text-decoration: none;
  color: white;
}

/* main */
.main-chat{
  width: calc(100vw - 300px);
  background-color: #ffffff;
}
.main-header{
  height: 100px;
  background-color: #ffffff;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
.main-body{
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  overflow: scroll;
  box-sizing: border-box;
}
.main-footer{
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
}

/* mh */
.mh-title{
  color: #333;
  font-size: 24px;
  margin-top: 36px;
}
.mh-btn{
  margin-top: 40px;
}
.mh-btn a{
  text-decoration: none;
  border: 1px solid darkred;
  color: darkred;
  padding: 20px;
}

/* mb */
.mb-message {
  margin: 10px 0;
}
.mb-upper-message{
  display: flex;
}
.mb-message-user {
  color: #434a54;
  font-size: 16px;
}
.mb-message-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}
.mb-lower-message {
  margin-top: 10px;
}
.mb-message-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}

/* mf */
.mf-form{
  display: flex;
  box-sizing: border-box;
}
.mf-form-input{
  background-color: white;
  display: flex;
  width: 100%;
}
.mf-form-message{
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}
.mf-form-submit{
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}
.mf-form-image{
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}
.mf-hidden{
  display: none;
}